# Build folders
cmake-build-*/
build/

# IDEs
.idea/
.vscode/

# Compiled files
*.exe
*.dll
*.lib
*.a

# Shaders compiled
*.spv
# Allow shader sources
!shaders/*.vert
!shaders/*.frag

# OS
.DS_Store
Thumbs.db
